body{
    background-color: #F1EFB8 !important;
}
form {
    display: flex;
    flex-direction: column;
    margin: 2.5% auto;
}

input {
    background-color: white;
    color: black;
    width: 50%;
}

select {
    background-color: black;
    color: white;
    width: 50%;
}

form button {
    width: 50%;
    margin: 1% auto;
}

label {
    margin-top: 1%;
}

h2 {
    margin-top: 2%!important;
}